
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, select {
  vertical-align: middle;
}

head {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  min-height: 100%;
}

html {
  min-height: 100%;
}

/*BEGIN foto op de achtergrond */
.photo-kamer {
  /* The image used */
  background-image: url("image/hond.jpg");
  /* Set a specific height */
  min-height: 620px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-ontbijtruimte {
  /* The image used */
  background-image: url("image/patrick-zoon-1.jpg");
  /* Set a specific height */
  min-height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-zaal {
  /* The image used */
  background-image: url("image/familie-1.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-check-in {
  /* The image used */
  background-image: url("image/kids-5.jpeg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-prijs {
  /* The image used */
  background-image: url("image/kinderen-1.JPG");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-reservation {
  /* The image used */
  background-image: url("image/ann-familie-1.JPG");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-aboutus {
  /* The image used */
  background-image: url("image/ann-carlos-1.JPG");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-contact {
  /* The image used */
  background-image: url("image/ann-2.JPG");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*EINDE foto op de achtergrond */

/*header */
.container-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*background-color: #4a8dac;achtergrond header */

  background: linear-gradient(to bottom, #6e7376 0%,#6e7376 50%, #4a8dac 100%);
  z-index: 1;
  height: 30vh;
  width: 100%;
  top: 0;
}
/* tekst header*/
.container-header h1.shimmer {
  /*font-family: 'Caveat', cursive;*/
  font-family: 'Amatic SC', cursive;
  /*font-family: 'Satisfy', cursive;*/
  padding: 0 20px 0 0;
  margin-bottom: 0;
  letter-spacing: 0.15em;
  font-size: 7em;
}

h2 {
  color: #fff;
  font-size: 2em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  font-family: 'Overpass', sans-serif;
  letter-spacing: 2px;
}

h1 {
  color: #fff;
  font-size: 3em;
}
p{
  font-family: 'Overpass', sans-serif;
}

/*.shimmer {
  background: linear-gradient(to right, #99ced4, #99ced4, #fff 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: rotate(-20deg);
}*/

/*1ste 3 boxen met foto's */
.practical-info-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: #6e7376;
  justify-content: center;
}

.practical-all {
  margin: 0 10em 0 10em;
  padding-bottom: 2em;
}

.title-practical {
  flex-direction: column;
  font-family: "Merriweather", serif;
  color: #ECC7C0;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.boxen-practical {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #eeb6b7;
  border-left: 1px solid #eeb6b7;
}
/*1ste 3boxen tekst */
.box-info {
  width: 40%;
  height: auto;
  justify-content: flex-end;
  padding-right: 1em;
  border-right: 1px solid #eeb6b7;
  border-bottom: 1px solid #eeb6b7;
  color: #eeb6b7;
}
.box-info h2 {
  text-align: end;
  font-family: 'Overpass', sans-serif;
  letter-spacing: 0.15em;
  padding-right: 1em;
}
.box-info p {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.75em;
  padding-left: 3em;
  padding-top: 1em;
}
.slideshow-container {
  width: 60%;
  height: auto;
}

.mySlides-kamer, .mySlides-ontbijtruimte, .mySlides-zaal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 1em;
  margin-left: 2em;
  margin-top: 8em;
  box-shadow: 0px 0px 10px 0px rgba(173, 141, 85, 0.5);
}
.mySlides-kamer img, .mySlides-ontbijtruimte img, .mySlides-zaal img {
  height: 250px;
}
/*tekst onder foto*/
.mySlides-kamer .p, .mySlides-ontbijtruimte .p, .mySlides-zaal .p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Amatic SC', cursive;
  color: #4a8dac;
  font-size: 1.5em;
}
/* kleur nummering foto's*/
.numbertext {
  color: #4a8dac;
  padding-bottom: 1em;
}

.pijlen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1em;
  padding-top: 1em;
  }

/* Next & previous buttons */
.prev, .next {
  display: flex;
  text-align: center;
  cursor: pointer;
  top: 100%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #ECC7C0;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* The dots/bullets/indicators */
.dot-kamer, .dot-ontbijtruimte, .dot-zaal {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 1px;
  background-color: #ECC7C0;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #fff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
span{
  font-family: 'Caveat', cursive;
  font-size: 2em;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* talking to your sister...*/
.prijs {
  flex-wrap: wrap;
  background-color: #99ced4;
  width: 100%;
  height: 400px;
  justify-content: center;
}
.ml15{
  font-weight: 500;
  font-size: 2em;
  letter-spacing: 0.5em;
  color: #4a8dac;
  font-family: 'Overpass', sans-serif;
  text-align: center;
  padding-top: 3em;
}
.ml15 .word {
  display: inline-block;
  line-height: 1em;
}


/*Be hfappy, it drives people crazy*/
.container-check-in {
  display: flex;
  flex-wrap: wrap;
  background-color: #6e7376;
}

.practical-all-checkin {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin: 0em 0em 0em 10em;
  padding: 2em 0em;
}

.boxen-practical-checkin {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.box-checkin-photo {
  width: 40%;
  border-left: 1px solid #eeb6b7;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.sfeer-photo {
  width: 80%;
  padding-top: 1em;
}

.box-checkin-text {
  width: 60%;
  height: auto;
  margin-top: 2em;
}

.box-checkin-text1 {
  height: 200px;
  padding-left: 2em;
  line-height: 1.75em;
  background-color: #4a8dac;
  color: #fff;
  font-size: 1.5em;
}
.box-checkin-text1 h2 {
  color: #fff;
  font-family: 'Overpass', sans-serif;
}

.box-checkin-text1:nth-child(2) {
  background-color: #99ced4;
  color: #fff;
}
.box-checkin-text1:nth-child(2) h2 {
  color: #fff;
  font-family: 'Overpass', sans-serif;
}

.box-checkin-extra {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #AD8D55;
  padding-top: 5em;
  padding-left: 1em;
}
.box-checkin-extra .container-btn {
  margin-top: 2em;
}
/* Always remember*/
.container-reservation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: #eeb6b7;
  justify-content: center
  }

.practical-all-reservation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 5em;
  justify-content: center
}

.title-reservation {
  width: 100%;
  height: auto;
  color: #AD8D55;
}
.title-reservation h2 {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 1.5em;
}
.title-reservation p {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 1.5em;
}
.title-foto{
  flex-direction: row;
  padding-bottom: 2em;
  padding-left: 7em;
}


/* achtergrond achter foto*/
.extra-container {
  background-color: #fff;
  padding: 2em 0;
}
/*Begin sliderbox*/
.container-album {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.practical-all-bottom-photo {
  width: 100%;
  background-color: #4a8dac;
  z-index: 10;
  padding: 2em 0;
}

.container-album-title {
  text-align: center;
}

.button-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.button-all .button {
  text-align: center;
  cursor: pointer;
  font-size: 30px;
  letter-spacing: 20px;
  color: #fff;
  padding-bottom: 1em;
}
.button-all .button--inactive {
  opacity: 0.2;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25rem;
}

.card__summary {
  color: #fff;
  font-size: 2em;
  font-family: 'Caveat', cursive;
}

.box {
  width: 20rem;
  height: 20rem;
  box-shadow: 0px 0px 2rem 0px rgba(173, 141, 85, 0.5);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

img {
  width: 20rem;
  height: 20rem;
}

.box:nth-child(2n) {
  transform: scale(0.85);
  z-index: -1;
}

.box:nth-child(2) {
  left: 5%;
}

.box:nth-child(4) {
  left: -5%;
}

.box:nth-child(4n+1) {
  transform: scale(0.75);
  z-index: -2;
}

.box:nth-child(1) {
  left: 15%;
}

.box:nth-child(5) {
  left: -15%;
}

.card__text-content {
  text-align: center;
  width: 75%;
}

.box--hide {
  display: none;
}

.move-out-from-left {
  animation: moveOutLeft 0.5s ease-in-out;
}

.move-out-from-right {
  animation: moveOutRight 0.5s ease-in-out;
}

.move-to-position5-from-left {
  animation: moveToP5Left 0.5s ease-in-out;
}

.move-to-position4-from-left {
  animation: moveToP4Left 0.5s ease-in-out;
}

.move-to-position3-from-left {
  animation: moveToP3Left 0.5s ease-in-out;
}

.move-to-position2-from-left {
  animation: moveToP2Left 0.5s ease-in-out;
}

.move-to-position1-from-left {
  animation: moveToP1Left 0.5s ease-in-out;
}

.move-to-position5-from-right {
  animation: moveToP5Right 0.5s ease-in-out;
}

.move-to-position4-from-right {
  animation: moveToP4Right 0.5s ease-in-out;
}

.move-to-position3-from-right {
  animation: moveToP3Right 0.5s ease-in-out;
}

.move-to-position2-from-right {
  animation: moveToP2Right 0.5s ease-in-out;
}

.move-to-position1-from-right {
  animation: moveToP1Right 0.5s ease-in-out;
}

@keyframes moveOutLeft {
  0% {
    transform: scale(0.75) translateX(0%);
    opacity: 1;
  }
  50% {
    transform: scale(0.5) translateX(-150%);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.25) translateX(0%);
    opacity: 0;
  }
}
@keyframes moveOutRight {
  0% {
    transform: scale(0.75) translateX(0%);
    opacity: 1;
  }
  50% {
    transform: scale(0.5) translateX(150%);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.25) translateX(0%);
    opacity: 0;
  }
}
@keyframes moveToP5Left {
  from {
    transform: scale(0.75) translateX(100%);
  }
  to {
    transform: scale(0.75) translateX(0);
  }
}
@keyframes moveToP4Left {
  from {
    transform: scale(0.75) translateX(100%);
  }
  to {
    transform: scale(0.85) translateX(0);
  }
}
@keyframes moveToP3Left {
  from {
    transform: scale(0.85) translateX(100%);
  }
  to {
    transform: scale(1) translateX(0);
  }
}
@keyframes moveToP2Left {
  from {
    transform: scale(1) translateX(100%);
  }
  to {
    transform: scale(0.85) translateX(0);
  }
}
@keyframes moveToP1Left {
  from {
    transform: scale(0.85) translateX(100%);
  }
  to {
    transform: scale(0.75) translateX(0);
  }
}
@keyframes moveToP1Right {
  from {
    transform: scale(0.75) translateX(-100%);
  }
  to {
    transform: scale(0.75) translateX(0);
  }
}
@keyframes moveToP2Right {
  from {
    transform: scale(0.75) translateX(-100%);
  }
  to {
    transform: scale(0.85) translateX(0);
  }
}
@keyframes moveToP3Right {
  from {
    transform: scale(0.85) translateX(-100%);
  }
  to {
    transform: scale(1) translateX(0);
  }
}
@keyframes moveToP4Right {
  from {
    transform: scale(1) translateX(-100%);
  }
  to {
    transform: scale(0.85) translateX(0);
  }
}
@keyframes moveToP5Right {
  from {
    transform: scale(0.85) translateX(-100%);
  }
  to {
    transform: scale(0.75) translateX(0);
  }
}
/*laatste box*/
.container-contact {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: #eeb6b7;
  padding: 2em 0;
}

.practical-all-contact {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0em 10em 0em 10em;
  padding: 2em 0em;
  border-left: 1px solid #6e7376;
}

.box-contact-1 {
  width: 50%;
  height: auto;
}
.box-contact-1 h2 {
  color: #6e7376;
  font-family: 'Overpass', sans-serif;
  letter-spacing: 0.15em;
  text-align: center;
  padding-right: 1em;
}
.box-contact-1 p {
  color: #6e7376;
  line-height: 1.5em;
  text-align: center;
  font-size: 1.5em;
}

.box-contact-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  width: 50%;
  height: auto;
}
.hope{
  transform: rotate(-20deg);
  padding-top: 2em;
  font-family: 'Caveat', cursive;
  font-size: 3em;
  color: #fff;
}
/*vliegende tekst*/
.container-10{
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  height: auto;
}
.hidden {
  opacity:0;
}
.console-container {
  font-family: 'Caveat', cursive;
  font-size:4em;
  text-align:right;
  height:200px;
  width:500px;
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  color: #fff;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
/* box met video*/
.video{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 0;
  width: 100%;
  height: auto;
  background-color: #6e7376;
}
.awel{
  color: #eeb6b7;
  font-size: 2em;
  padding-bottom: 2em;

}
/*Begin footer*/
.container-footer {
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #6e7376;
  height: auto;
  width: 100%;
  padding-top: 0.5em;
  border-top: 1px solid #525758;
}

.copieright {
  color: #fff;
  font-size: 1em;
}